<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<form method="get" action="/college/admin_home/">
    <a href="/college/add_course/">Add course</a><br><br>
    <a href="/college/view_course/">view course</a><br><br>

    <a href="/college/add_dept/">Add department</a><br><br>
    <a href="/college/view_dept/">view department</a><br><br>

    <a href="/college/add_staff/">Add staff</a><br><br>
    <a href="/college/view_staff/">view staff</a><br><br>

    <a href="/college/sub_allo/">sub allocation</a><br><br>
    <a href="/college/view_suballocation/">view sub allocation</a><br><br>

    <a href="/college/view_std/">View Student</a><br><br>
    <a href="/college/viewcom/">View Complaint</a>
</form>
</body>
</html>