{% extends 'admin_homepage.html' %}
{% block body %}
<form method="post" action="/college/searchcourse/" enctype="multipart/form-data">
{% csrf_token %}
<h1 align="center">SEARCH COURSE</h1><br>
      <div align="center">
      <input type="text" name="search" class="">
      <input type="submit" value="search" class="btn badge-info"><br><br>
</div>

<br>
<h1 align="center">VIEW COURSE</h1><br>
    <table border ="2" class="table table-bordered table-hover">
        <tr style="color: white">
            <th>SERIAL NO</th>
            <th>COURSE NAME</th>
            <th>DEP NAME</th>
        </tr>

        {% for i in data %}
            <tr style="color: white">
            <td>{{ forloop.counter }}</td>
            <td>{{ i.coursename }}</td>
            <td>{{ i.DEPT.depart_name }}</td>
                <td><a href="/college/edit_course/{{ i.id }}#work"><input type="button" value="Edit" class="btn btn-success"></a></td>
                <td><a style="color: white" href="/college/deletec/{{ i.id }}"><input type="button" value="Delete" class="btn btn-success"></a></td>

            </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}